{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="select-container">
        <div class="name">Матриця А</div>
        <div class="input-group mb-3">
            <input id="n_input" type="number" class="form-control" placeholder="n" aria-label="N" style="width: 50px">
            <span class="input-group-text"><=></span>
            <select id="a_select" class="form-select" aria-label="Default select example">

            </select>
        </div>
    </div>

    <div class="select-container">
        <div class="name">Матриця B</div>
        <div class="input-group mb-3">
            <input id="m_input" type="number" class="form-control" placeholder="m" aria-label="M" style="width: 50px">
            <span class="input-group-text"><=></span>
            <select id="b_select" class="form-select" aria-label="Default select example">

            </select>
        </div>
    </div>

    <div class="select-container">
        <div class="name">Елемент матриці S</div>
        <div class="input-group mb-3">
            <select id="i_select" class="form-select" aria-label="Default select example">

            </select>
            <span class="input-group-text"><=></span>
            <select id="j_select" class="form-select" aria-label="Default select example">

            </select>
        </div>
    </div>

    <div class="select-container">
        <div class="name">Ранг S<sub>0</sub></div>
        <div class="input-group mb-3">
            <select id="r_select" class="form-select" aria-label="Default select example">

            </select>
        </div>
    </div>

    <script src="{% static 'js/select_input.js' %}"></script>
    <script src="{% static 'js/update_select.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            handleInputChange('n_input', 'a_select', '/msr/form_update/');
        });
        document.addEventListener('DOMContentLoaded', function () {
            handleInputChange('m_input', 'b_select', '/msr/form_update/');
        });
        document.addEventListener('DOMContentLoaded', function () {
            updateSelect('n_input', 'i_select');
        });
        document.addEventListener('DOMContentLoaded', function () {
            updateSelect('m_input', 'j_select');
        });
        document.addEventListener('DOMContentLoaded', function () {
            updateSelect('n_input', 'r_select', 1);
        });
    </script>

{% endblock %}