.block-for-header
{
    display: flex;
    font-family: "Sofia Sans Condensed", sans-serif;
    background-color: #d9c87e;
    height: 100px;
    align-items: center;
    justify-content: center;
}
h1
{
    color: #c0763a;
}
main
{
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightblue;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 18px;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 900px;
    padding: 0 20px;
}
.name
{
    background-color: #7FA9E3;
    height: 27px;
    padding-top: 1px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.select-container
{
    width: 500px;
}
.style-button
{
    color: black;
}