.container-nav
{
    font-family: "Sofia Sans Condensed", sans-serif;
    background-color: #143300;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin: 0;
}
.main-nav
{
    font-size: 35px;
}

button
{
    position: relative;
    display: inline-block;
    margin: 3px;
    height: 40px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    color: #143300;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #143300;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #143300;
}
button:hover
{
    color: white;
    box-shadow: inset 0 -100px 0 0 #143300;
}
button:active
{
    transform: scale(0.9);
}
.full-rounded
{
    border-radius: 2em;
}

main
{
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background-color: #9EE970;
    padding: 20px;
}
.name
{
    background-color: #143300;
    color: white;
    height: 27px;
    padding-top: 1px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.select-container
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.row-div
{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 50px;
}
.column-div
{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.sub-div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    height: 250px;
    width: 450px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12)
                0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
table, th, td
{
    text-align: center;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
tr:nth-child(odd)
{
    background-color: #8F9AA5;
}
.gen-states-div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12)
                0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
.sequence-div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 90px;
    margin: 35px auto 0;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12)
                0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
.block
{
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box
{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12)
                0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    width: 400px;
    height: 80px;
}
