.container-nav  {
    font-family: "Sofia Sans Condensed", sans-serif;
    background-color: #d9c87e;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    margin: 0;
}
.main-nav {
    font-size: 35px;
}
.nav-container {
    display: flex;
    justify-content: start;
    align-items: center ;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #7FA9E3;
}
h1 {
    color: #c0763a;
}
main {
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    background-color: lightblue;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 18px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 900px;
    padding: 0 20px;
}
.name {
    background-color: #7FA9E3;
    height: 27px;
    padding-top: 1px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.select-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.style-button {
    color: black;
}
.main-div
{
    margin-top: 20px;
    display: flex;
    width: 900px;
}
.column-div
{
    flex: 0 0 auto;
}
.sub-div
{
    width: 260px;
    margin-right: 50px;
}
.gen_states_div_style
{
    flex: 0 0 auto;
    margin-left: 70px;
    width: 500px;
    height: 400px;
    margin-bottom: 10px;
}
.table-width
{
    border: 1px solid #eee;
    text-align: center;
    width: 260px;
}
.table-container
{
    width: 515px;
    height: 330px;
    overflow: scroll;
}
.table-generator
{
    text-align: center;
    width: 500px;
    height: 400px;
}